.register-btn {
	background: #1451b3;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.register-btn:hover {
	background: #4285f4;
}

.login-form input {
	margin: 20px;
	padding: 10px 20px;
	border: none;
	box-shadow: 2px 2px 10px lightgray;
	border-radius: 20px;
}

/* Google btn */
.google-btn {
	background: #4285f4;
	border: none;

	font-size: 19px;
	color: #fff;
	min-width: 180px;
}
.google-btn:hover {
	background: #1451b3;
}
