.main-heading {
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	margin: 30px 0;
	color: #212f3d;
}

.booking-btn {
	border: none;
	background: none;
	padding: 10px 18px;
	background: #0c95f0;
	color: #fff;
	font-weight: 600;
	border-radius: 10px;
	transition: 0.2s;
}
.booking-btn:hover {
	background: #007fd3;
}

.ride-card {
	background: #34495e;
	color: #fff;
}
.ride-desc {
	color: #d6eaf8;
}
.ride-price {
	font-weight: 600;
}
