.main-heading {
	text-align: center;
	font-weight: 600;
	margin-bottom: 15px;
	color: #d1e8e2;
}

.booking-btn {
	background: #116466;
	border-bottom: 3px solid #043b3c;
	transition: 0.3s;
}
.booking-btn:hover {
	background: #0b4f50;
	transform: skew(4deg);
}
