.main-heading {
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	margin: 30px 0;
	color: #212f3d;
}

.booking-btn {
	background: #f3a200;
	transition: 0.2s;
}
.booking-btn:hover {
	background: #aa7200;
}
