.rides-add-form input,
textarea {
	margin: 20px;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid #116466;
	border-bottom: 2px solid #116466;
}
.rides-add-form form {
	max-width: 500px;
}
.rides-btn {
	width: 200px;
	border: none;
	background: lightblue;
	font-weight: 600;
	font-size: 20px;
}

/* add ride btn */
.add-ride-btn {
	font-weight: bold;
	color: #fff;
	background: #116466;
	transition: 0.2s;
}
.add-ride-btn:hover {
	background: #0c5052;
}
