.footer {
	background: #d1e8e2;
}
.social a {
	color: #d1e8e2;
}
.social .fab {
	background: #116466;
}

.useful-links a {
	color: #000026;
	cursor: pointer;
	display: block;
	font-size: 16px;
	margin: 10px 0;
	text-decoration: none;
}
.contact-us h4,
.your-msg,
.useful-links h4 {
	color: #116466;
	font-weight: bold;
}
.send-btn {
	background: #116466;
	border-bottom: 2px solid gray;
	margin-top: 10px;
	color: #fff;
}
