.footer {
	background: #909497;
}
.social a {
	color: #000;
}

.useful-links a {
	color: #000026;
	cursor: pointer;
	display: block;
	font-size: 16px;
	margin: 10px 0;
	text-decoration: none;
}
.contact-us h4,
.your-msg,
.useful-links h4 {
	color: #14171d;
	font-weight: bold;
}
.send-btn {
	background: #e96100;
	color: #fff;
}
